{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Music and Clothes</title>
        <link rel="stylesheet" href="{%static '/css/style.css'%}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

  <header class="header">
    <div class="container">
      <div class="navbar">
        <div class="title">
          <h1>M&C</h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Catalog</a></li>
            <li>
              <div class="user-pic">
                <!-- User Icon -->
                👤
              </div>
            </li>
            <li>
              <div class="icon-cart">
                🛒
                <span>0</span>
              </div>
            </li>
          </ul>
        </nav>
      </div>

        <div class="slideshow">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="{% static 'poze/poza.jpg'%}" alt="Background"></div>
    
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

            </div>
      <div class="favorite-category">
        <div class="category-img">
          <img src="woman image.webp" alt="Fashion Woman">
        </div>
        <div class="category-img">
          <img src="woman image.webp" alt="Another Fashion">
        </div>
      </div>
    </div>
  </header>

</body>
</html>
