{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shopping Website</title>
  <link rel="stylesheet" href="{%static 'css/manele.css'%}" />
  <link rel="stylesheet" href="{%static 'css/nav.css'%}" />
</head>
<body>
  <header>
    <div class="navbar">
        <div class="title">
          <h1>M&C</h1>
        </div>
        <nav>
          <ul>
            <li><a href="{%url 'home'%}">Home</a></li>
            <li class="dropdown"><a>Catalog ▾</a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'manele'%}">Manele</a></li>
                <li><a href="{%url 'rap'%}">Rap</a></li>
                <li><a href="{%url 'trap'%}">Trap</a></li>
                <li><a href="{%url 'rock'%}">Rock</a></li>
                <li><a href="{%url 'pop'%}">Pop</a></li>
                <li><a href="{%url 'jaz'%}">Jazz</a></li>
              </ul>
            </li>    
            <li>
              <div class="user-pic">
                <!-- User Icon -->
                👤
              </div>
            </li>
            <li>
              <div class="icon-cart">
                🛒
                <span>0</span>
              </div>
            </li>
          </ul>
        </nav>
      </div>
  </header>

  <main>
    <section class="product-grid">
      <!-- Repeat this block for each product -->

    
    </section>
  </main>
  <script src="{%static 'javascript/scripts.js'%}"></script>
</body>
</html>
