.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 20px;
}

.title h1 {
    font-family: 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #111;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: 0.2s ease;
}

nav ul li a:hover {
    font-weight: 600;
}

a {
    text-shadow: #ffffff;
}

a:hover {
    text-shadow: 0 0 10px #ffffff;
    ;
}

.icon-cart {
    position: relative;
    cursor: pointer;
}

.icon-cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #cf820f;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}